@media (max-width: 500px) {
    .container2 {
        display: flex;
        flex-direction: column;
    }
}

.container1 {
    display: flex;
    justify-content: center;
}

.firstpic {
    height: 500px;
    width: 700px;
    border-radius: 30%;
    opacity: 75%;
}

.nav {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60pt;
    color: transparent;
    -webkit-background-clip: text;
    background-image: url(https://i.pinimg.com/736x/d5/3c/0c/d53c0c985112b0f99ebc59452bc461e9.jpg);
}

button {
    background-color: orange;
}

@font-face {
    font-family: customfont;
    src: url(CloisterBlackLight-axjg.ttf);
}

body {
    font-family: customfont;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: content-box;
}

.child1 {
    margin: 20px;
    background-image: url(https://www.renemagritte.org/assets/img/paintings/the-art-of-living.jpg);
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: orange;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.child2 {
    margin: 20px;
    background-image: url(https://d7hftxdivxxvm.cloudfront.net/?height=800&quality=85&resize_to=fit&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2FNICi9TVl8M0jt0Q5aXttPA%2Fnormalized.jpg&width=566);
    height: 400px;
    width: 400px;
    border-style: solid;
    border-color: orange;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


.child3 {
    margin: 20px;
    background-image: url(https://study.com/cimages/multimages/16/dechiricolovesong.jpg);
    height: 400px;
    width: 400px;
    border-style: solid;
    border-color: orange;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}    

.child4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 600px;
    color: darkmagenta;
    background-color: beige;
}

.child5 {
    margin: 20px;
    height: 400px;
    width: 400px;
    font: 400px;
    transition: 2s;
}

.child6 {
    margin: 20px;
    height: 400px;
    width: 400px;
    transition: 2s;
}

.child7 {
    margin: 20px;
    height: 400px;
    width: 400px;
    transition: 2s;
}

.child8 {
    margin: 20px;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: maroon;
}

.child9 {
    margin: 20px;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: maroon;
}    

.child10 {
    margin: 20px;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: maroon;
}

.child11 {
    margin: 20px;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: maroon;
}

    
.container3 {
    display: flex;
    justify-content: center;
}

span {
    color: beige;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: content-box;
}    

.container7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.abmepic1 {
    height: 400px;
    width: 400px;
    transition: 2s;
}

.abmepic2 {
    height: 400px;
    width: 400px;
    transition: 2s;
}

.abmepic3 {
    height: 400px;
    width: 400px;
    transition: 2s;
}

.hidden {
    display: none;
}

.abmepic1:hover + .hidden {
    display: inline-flex;
    color: red;
    font: 700px;
}

.hidden2 {
    display: none;
}

.hidden3 {
    display: none;
}

.abmepic2:hover + .hidden2 {
    display: block;
    color: red;
    font: 700px;
}

.abmepic3:hover + .hidden3 {
    display: block;
    color: red;
    font: 700px;
}

.child5:hover {
    border-radius: 50%;
}

.child5:hover .hidden {
    visibility: visible;
    opacity: 1;
}

.abmepic1:hover {
    border-radius: 50%;
    opacity: 50%;
}

.abmepic2:hover {
    border-radius: 50%;
    opacity: 50%;
}

.abmepic3:hover {
    border-radius: 50%;
    opacity: 50%;
}

.child6:hover {
    border-radius: 50%;
}

.child7:hover {
    border-radius: 50%;
}

h2 {
    margin: 15px;
}

.contacthead {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactplace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
}

.contactstuff {
    background-color: maroon;
}

.successpage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gohome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.successcolor {
    background-color: bisque;
}
